<div id="panel" class="collapsed">
  <h1><a href="{{ site.url }}/">{{site.title}}</a></h1>
  <a id="expandButton" href="#">
    <span></span>
    <span></span>
    <span></span>
  </a>
  <div class='tabs'>
    <a id='tab_index' onclick="changeTab( 0 )" href='#'>Index</a> |
    <a id='tab_toc' onclick="changeTab( 1 )" href='#'>TOC</a> |
    <a id='tab_posts' onclick="changeTab( 2 )" href='#'>Blog</a>
  </div>
  <div class="filterBlock" >
    <input type="text" id="filterInput" placeholder="Type to filter"/>
    <a href="#" id="clearFilterButton" >x</a>
  </div>
  <div id="content">
  </div>
</div>
<script>
  var panel = document.getElementById( 'panel' );

  var expandButton = document.getElementById( 'expandButton' );
  expandButton.addEventListener( 'click', function( event ) {
    panel.classList.toggle( 'collapsed' );
    event.preventDefault();
  } );

  var filterInput = document.getElementById( 'filterInput' );
  var clearFilterButton = document.getElementById( 'clearFilterButton' );

  var content = document.getElementById( 'content' );
  var article = document.getElementById( 'article' );

  var current_tab = 0;
  var tab_list = [
    {{ site.data['index'] }},
    [],
    {{ site.data['posts'] }}
  ];

  function createList( list ) {
    // Remove all children (faster and more efficient than innerHTML)
    while( content.firstChild ) { content.removeChild( content.firstChild ) }
    var title = null;

    if( list.length == 0 )
      content.innerHTML = '<p>No Matches</p>'

    for( var section in list ) {
      section = list[section];
      var h2 = document.createElement( 'h2' );
      h2.className = 'section';

      if( typeof section['title'] !== "undefined" )
        title = section['title'];
      else
        title = '';

      if( typeof section['url'] !== "undefined" ) {
        var a = document.createElement( 'a' );
        a.setAttribute( 'href', section['url'] );
        a.innerHTML = title;
        h2.appendChild( a );
      }
      else
        h2.innerHTML = title;

      content.appendChild( h2 );

      for( var chapter in section['contents'] ) {
        chapter = section['contents'][chapter];
        var div = document.createElement( 'div' );
        var h3 = document.createElement( 'h3' );
        var ul = document.createElement( 'ul' );

        h3.className = 'chapter';
        if( typeof chapter['title'] !== "undefined" )
          title = chapter['title'];
        else
          title = '';

        if( typeof chapter['url'] !== "undefined" ) {
          var a = document.createElement( 'a' );
          a.setAttribute( 'href', chapter['url'] );
          a.innerHTML = title
          h3.appendChild( a );
        }
        else
          h3.innerHTML = title;

        div.appendChild( h3 );
        div.appendChild( ul );

        for( var page in chapter['contents'] ) {
          page = chapter['contents'][page];
          var li = document.createElement( 'li' );
          var a = document.createElement( 'a' );

          if( typeof page['title'] !== "undefined" )
            title = page['title'];
          else
            title = '';

          li.className = 'page';
          a.setAttribute( 'href', page['url'] );
          a.innerHTML = title;
          li.appendChild( a );
          ul.appendChild( li );
        }

        content.appendChild( div );
      }
    }
  }

  function updateFilter( tab ) {
    if( filterInput.value == '' ) {
      return tab_list[tab];
    }

    var exp = new RegExp( filterInput.value, 'gi' );

    // Cheap and effective object copy, because Javascript doesn't have
    // an easier way to do this.
    var filtered_list = JSON.parse( JSON.stringify( tab_list[tab] ) );

    for( var section_index = filtered_list.length - 1; section_index >= 0; section_index-- ) {
      var section = filtered_list[section_index];

      for( var chapter_index = ('contents' in section ? section['contents'].length - 1 : -1); chapter_index >= 0; chapter_index-- ) {
        var chapter = section['contents'][chapter_index];

        for( var page_index = ('contents' in chapter ? chapter['contents'].length - 1 : -1); page_index >= 0; page_index-- ) {
          var page = chapter['contents'][page_index];
          var res = page['title'].match( exp );

          if( res && res.length > 0 ) {
            page['title'] = page['title'].replace( exp, function( match ) {
              return '<b>' + match + '</b>';
            } );
          }
          else {
            chapter['contents'].splice( page_index, 1 );
          }
        }

        if( 'contents' in chapter ? chapter['contents'].length <= 0 : true ) {
          section['contents'].splice( chapter_index, 1 );
        }
      }

      if( 'contents' in section ? section['contents'].length <= 0 : true ) {
        filtered_list.splice( section_index, 1 );
      }
    }

    return filtered_list;
  }

  function changeTab( tab ) {
    document.getElementById( 'tab_index' ).className = '';
    document.getElementById( 'tab_toc' ).className = '';
    document.getElementById( 'tab_posts' ).className = '';

    switch( tab ) {
      case 0:
        document.getElementById( 'tab_index' ).className = 'bold';
        break;
      case 1:
        document.getElementById( 'tab_toc' ).className = 'bold';
        break;
      case 2:
        document.getElementById( 'tab_posts' ).className = 'bold';
    }

    current_tab = tab;
    createList( updateFilter( current_tab ) );
  }

  filterInput.addEventListener( 'input', function( e ) {
    createList( updateFilter( current_tab ) );
  } );

  clearFilterButton.addEventListener( 'click', function( e ) {
    filterInput.value = '';
    createList( updateFilter( current_tab ) );
    e.preventDefault();
  } );

  changeTab( current_tab );
</script>