<div id="panel" class="collapsed">
  <h1><a href="{{ site.url }}/">{{site.title}}</a></h1>
  <a id="expandButton" href="#">
    <span></span>
    <span></span>
    <span></span>
  </a>
  <div class='tabs'>
    <a onclick="changeTab( 'index' )" href='#'>Index</a> |
    <a onclick="changeTab( 'toc' )" href='#'>TOC</a> |
    <a onclick="changeTab( 'posts' )" href='#'>Blog</a>
  </div>
  <div class="filterBlock" >
    <input type="text" id="filterInput" placeholder="Type to filter"/>
    <a href="#" id="clearFilterButton" >x</a>
  </div>
  <div id="content">
  </div>
</div>
<script>
  var panel = document.getElementById( 'panel' );
  var viewer = document.getElementById( 'viewer' );

  var expandButton = document.getElementById( 'expandButton' );
  expandButton.addEventListener( 'click', function( event ) {
    panel.classList.toggle( 'collapsed' );
    event.preventDefault();
  } );

  var filterInput = document.getElementById( 'filterInput' );
  var clearFilterButton = document.getElementById( 'clearFilterButton' );

  var DELIMITER = '/';
  var MEMBER_DELIMITER = '.';
  var nameCategoryMap = {};
  var sections = {};

  var content = document.getElementById( 'content' );

  var current_tab = 'index';
  var tab_list = [
    {{ site.data['index'] }},
    [],
    {{ site.data['posts'] }}
  ];

  function createList( list ) {
    // Remove all children (faster and more efficient than innerHTML)
    while( content.firstChild ) { content.removeChild( content.firstChild ) }

    for( var section in list ) {
      section = list[section];
      var h2 = document.createElement( 'h2' );

      if( typeof section['url'] !== "undefined" ) {
        var a = document.createElement( 'a' );
        a.setAttribute( 'href', section['url'] );
        a.textContent = section['title'];
        h2.appendChild( a );
      }
      else {
        h2.textContent = section['title'];
      }

      content.appendChild( h2 );

      for( var chapter in section['contents'] ) {
        chapter = section['contents'][chapter];
        var div = document.createElement( 'div' );
        var h3 = document.createElement( 'h3' );
        var ul = document.createElement( 'ul' );

        if( typeof chapter['url'] !== "undefined" ) {
          var a = document.createElement( 'a' );
          a.setAttribute( 'href', chapter['url'] );
          a.textContent = chapter['title'];
          h3.appendChild( a );
        }
        else {
          h3.textContent = chapter['title'];
        }
        div.appendChild( h3 );
        div.appendChild( ul );

        for( var page in chapter['contents'] ) {
          page = chapter['contents'][page];
          var li = document.createElement( 'li' );
          var a = document.createElement( 'a' );

          a.setAttribute( 'href', page['url'] );
          a.textContent = page['title'];
          li.appendChild( a );
          ul.appendChild( li );
        }

        content.appendChild( div );
      }
    }
  }

  function updateFilter() {

  }

  function changeTab( tab ) {
    switch( tab ) {
      case 'toc':
        var index = 1;
        break;
      case 'posts':
        var index = 2;
        break;
      default:
        var index = 0;
    }

    createList( tab_list[index] );
  }

  filterInput.addEventListener( 'input', function( e ) {
    updateFilter();
  } );

  changeTab( current_tab );

      // function layoutList() {
      //   sections.forEach( function( el ) {
      //     var collapsed = true;

      //     Array.prototype.slice.apply( el.children ).forEach( function( item ) {
      //       if( !item.classList.contains( 'filtered' ) ) {
      //         collapsed = false;
      //         return;
      //       }
      //     } );
      //     if( collapsed ) {
      //       el.parentElement.classList.add( 'filtered' );
      //     } else {
      //       el.parentElement.classList.remove( 'filtered' );
      //     }
      //   } );
      // }


      // clearFilterButton.addEventListener( 'click', function( e ) {
      //   filterInput.value = '';
      //   updateFilter();
      //   e.preventDefault();
      // } );

      // function updateFilter() {
      //   var exp = new RegExp( filterInput.value, 'gi' );

      //   for( var j in nameCategoryMap ) {
      //     var res = nameCategoryMap[ j ].name.match( exp );

      //     if( res && res.length > 0 ) {
      //       nameCategoryMap[ j ].element.parentElement.classList.remove( 'filtered' );
      //       var str = nameCategoryMap[ j ].name;

      //       for( var i = 0; i < res.length; i++ ) {
      //         str = str.replace( res[ i ], '<b>' + res[ i ] + '</b>' );
      //       }
      //       nameCategoryMap[ j ].element.innerHTML = str;
      //     } else {
      //       nameCategoryMap[ j ].element.parentElement.classList.add( 'filtered' );
      //       nameCategoryMap[ j ].element.textContent = nameCategoryMap[ j ].name;
      //     }
      //   }
      //   layoutList();
      // }
    </script>