/**
 * View Components
 */
#viewer {
  position: absolute;
  border: 0px;
  left: 260px;
  width: calc(100% - 260px);
  height: 100%;
  overflow: auto;
  color: $text-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  padding: 30px 20px;
  padding-right: 30%;

  @include media-query( $on-large ) {
    padding-right: 20%;
  }

  @include media-query( $on-medium ) {
    padding-right: 10%;
  }

  @include media-query( $on-small ) {
    padding-right: 20px;
  }

  header {
    margin-bottom: 30px;

    h1 {
      margin: 0px;
      @include header-1-style;
    }

    h3 {
      margin-top: 10px;
      font-size: $base-font-size;
      color: $text-color;

      .email {
        font-style: italic;
      }
    }
  }

  a {
    color: #1184CE;
  }

  h1 {
    margin-top: 10px;

    @include header-1-style;
  }

  h2 {
    margin-top: 40px;

    @include header-2-style;
  }

  h3 {
    margin-top: 30px;

    @include header-3-style;
  }

  div {
    /* padding-left: 30px; */
    margin-bottom: 20px;
  }

  div.desc {
    padding-left: 0px;
  }

  pre, code {
    font-family: $base-font-family;
    font-size: $base-font-size;

    color: firebrick;
    padding: 0;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin: 0;
    background-color: rgba(0,0,0,0.04);
    border-radius: 3px;
  }

  code.highlighter-rouge {
    font-family: $base-font-family;
    font-size: $base-font-size;

    color: firebrick;
    padding: 0;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin: 0;
    background-color: rgba(0,0,0,0.04);
    border-radius: 3px;
  }

  th {
    padding: 10px;
    text-decoration: underline;
  }
  td {
    text-align: center;
  }

  table code {
    padding: 2px;
    margin: 0px;
    width: auto;
  }

  strong {
    color: #000;
    font-weight: normal;
  }

  #button {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 8px;
    color: #fff;
    background-color: #555;
    opacity: 0.5;

    :hover {
      cursor: pointer;
      opacity: 1;
    }
  }

  a.permalink {
    float: right;
    margin-left: 5px;
  }

  dl {
    dt {
      font-weight: bold;
      line-height: $base-line-height;
      padding-top: 4px;
    }
  }

  img {
    max-width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  strong {
    font-weight: bold;
  }

  ul {
    li {
      margin-top: 6px;
    }
  }
}


/**
 * Mobile Components
 */
@media all and ( max-width: 640px ) {
  h1{
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #content{
    position: absolute;
    left: 0;
    top: 90px;
    right: 0;
    bottom: 0;
    font-size: 17px;
    line-height: 22px;
    overflow: auto;
  }

  #viewer{
    position: absolute;
    left: 0;
    top: 56px;
    width: 100%;
    height: calc(100% - 56px);
  }
}