#panel {
  position: fixed;
  left: 0px;
  width: 260px;
  height: 100%;
  overflow: auto;
  background: #fafafa;

  ul {
    list-style-type: none;
    padding: 0px;
    margin-left: 20px;
  }

  li b {
    font-weight: bold;
  }
}

.filterBlock{
  margin: 20px;
  position: relative;

  p {
    margin: 0;
  }
}

#filterInput {
  width: 100%;
  padding: 5px;
  font-family: inherit;
  font-size: 15px;
  outline: none;
  border: 1px solid #dedede;

  :focus{
    border: 1px solid #2194CE;
  }
}

#clearFilterButton {
  position: absolute;
  right: 6px;
  top: 50%;
  margin-top: -8px;
  width: 16px;
  height: 16px;
  font-size: 14px;
  color: grey;
  text-align: center;
  line-height: 0;
  padding-top: 7px;
  opacity: .5;

  :hover {
    opacity: 1;
  }
}

.filtered {
  display: none;
}

/* mobile */

#expandButton {
  display: none;
  position: absolute;
  right: 20px;
  top: 12px;
  width: 32px;
  height: 32px;

  span {
    height: 2px;
    background-color: #2194CE;
    width: 16px;
    position: absolute;
    left: 8px;
    top: 10px;
  }

  span:nth-child(1) {
    top: 16px;
  }

  span:nth-child(2) {
    top: 22px;
  }
}

@media all and ( max-width: 640px ) {
  #panel {
    position: absolute;
    left: 0;
    top: 0;
    height: 480px;
    width: 100%;
    right: 0;
    z-index: 100;
    overflow: hidden;
    border-bottom: 1px solid #dedede;
  }

  #expandButton {
    display: block;
  }

  #panel.collapsed {
    height: 56px;
  }
}
